# Ficheiros grandes de dados (GeoJSON e Shapefiles)
*.geojson filter=lfs diff=lfs merge=lfs -text
*.shp      filter=lfs diff=lfs merge=lfs -text

# (opcional) se quiseres garantir apenas nestas pastas
public/geo/** filter=lfs diff=lfs merge=lfs -text
data/**       filter=lfs diff=lfs merge=lfs -text