.leaflet-container .leaflet-interactive:focus { outline: none !important; }
.leaflet-container .leaflet-interactive { outline: none !important; }
.leaflet-container path:focus, .leaflet-container svg:focus { outline: none !important; }
.leaflet-container img.leaflet-tile {
    mix-blend-mode: normal !important;
    filter: none !important;
    opacity: 1 !important;
}