.leaflet-container .leaflet-interactive:focus { outline: none !important; }
.leaflet-container .leaflet-interactive { outline: none !important; }
.leaflet-container path:focus, .leaflet-container svg:focus { outline: none !important; }
