.district-map-pane {
  height: 100%;
  min-height: 0;

  .leaflet-container {
    height: 100% !important;
    width: 100% !important;
  }

  .place-label span {
    color: var(--gold);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .55);
  }
}